
*{
    margin: 0;
    padding: 0;
    font-family:'Raleway', sans-serif;

}

body{
    background-color: rgb(17,68,89);
    background-image: url(./img/FONDO2.jpg);
    background-size:100% ;
    background-repeat: no-repeat;
}

ul{
    list-style-type: none;
    background-color:rgb(10, 129, 129);
    padding: 5px;
    width: 260px;
}
.item-menu{
display:inline;
padding: 10px;
}

.Destinos{
    max-width: 300px;
    border: 2px solid rgb(7, 112, 103);
    margin: 50px auto;
    box-shadow: 5px 5px 10px rgb(3, 139, 180),
    -5px -5px 10px rgb(240, 238, 240)       ;
}
.img{
    width: 100%;
}

p{
    font-size: small;
}


span{
    background-color: yellowgreen;
}

.buscar{
    float: right;
    margin-top: -2%;
    padding: 15px;
    
}

.btnBuscar{
float: left;
}
